{% extends 'app/base/base.html' %}
{% load static %}

{% block title %} <title> Emotional Diary Home </title> {% endblock title %}
<!-- Now put Everything inside block content tag -->

{% block content %}
<!-- Put Everything inside it START -->





<h1 class="text-center p-5">Howdy! You did it...</h1>
<div class="text-center"><img class="text-center" src="https://cdn.pixabay.com/photo/2020/10/24/06/17/man-5680626_960_720.jpg"></div>
<a class="text-center float-right text-danger" href="https://github.com/officialtech/Django-Starters/issues"> Issue </a>










<!-- Put Everything inside it END -->
{% endblock content %}